<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CART</title>
</head>
<body>
<h1><a href="/homepage">BACK TO MENU</a></h1>
<table border="1px">

    <tr>
        <td>ICON</td>
        <td>GAME ID</td>
        <td>GAME NAME</td>
        <td>QUANTITY</td>
        <td>GAME PRICE</td>
    </tr>

    <th:block th:each="product,iter:${cartList}" th:with="var=${product.key - 1}">
        <tr>
            <th>
                <img th:src="${productList.get(var).getImgLink()}" width="40px" height="60px"/>
            </th>
            <th th:text=" ${product.key}"></th>
            <th th:text=" ${productList.get(var).getName()}"></th>
            <th th:text="${product.value}" id="quantity" th:name="quantity"></th>
            <th th:text=" ${productList.get(var).getPrice()}" id="price" th:name="price"
                th:value="${productList.get(var).getPrice()}"></th>
            <th th:text="${productList.get(var).getPrice() * product.value}" ></th>
        </tr>
<!--        <span th:if="${iter.size > iter.count}" ></span>-->
    </th:block>
    <tr>
        <th colspan="4">Estimated total</th>
        <th id="totalPrice" th:name="totalPrice" th:id="totalPrice"></th>
    </tr>

</table>
</body>
<!--<script th:inline="javascript">-->

<!--    // let price = document.getElementById("price").textContent;-->
<!--    // let quantity = document.getElementById("quantity").textContent;-->
<!--    // let totalPrice = price * quantity;-->
<!--    // document.getElementById("totalPrice").innerHTML = totalPrice.toString();-->

<!--</script>-->


</html>