<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/addCart" method="post">
    <table>

        <input type="hidden" id="id" name="id" th:value="${gameDetail.getId()}">

        <div style="float: left;margin-left: 100px">
            <img th:src="${gameDetail.getImgLink()}" width="400px" height="600px"/>
        </div>

        <div style="float: left;margin-left: 50px">
            <h1 th:text="${gameDetail.getName()}"></h1>
            <h4 th:text="${'Game ID: '+ gameDetail.getId()}"></h4>
            <h4 th:text="${'About this game: '+gameDetail.getDescription()}" style="width:500px;text-align: justify"></h4>
            <h4 th:text="${'Price: '+gameDetail.getPrice()+' vnd'}"></h4>
            <button type="submit">ADD CART</button>
        </div>
    </table>
</form>
</body>
</html>