<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
</head>
<body>
<h1><a href="/showCart">GO TO CART</a></h1>
<form th:action="@{/selectGame}" method="post">
<table border="1px" cellspacing="0">
    <tr>
        <td>IMG</td>
        <td>NAME</td>
        <td>PRICE</td>
    </tr>
    <th:block th:each="product,iter:${productList}">
        <input type="hidden" name="id" th:value="${product.id}">
        <tr>
            <td ><a th:href="@{/game/{id}(id=${product.id})}">
                <img th:src="${product.getImgLink()}" width="150px" height="200px"/>
            </a></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
        </tr></a>

    </th:block>
</table>
</form>
</body>
</html>